*{ margin:0; padding:0;}
body,p,h1,h2,h3,h4,h5,table,ul,li,form,input{ margin:0; padding:0; color:#000; font-family: "Î¢ÈíÑÅºÚ";}
a{ font-size:12px; color:#000; text-decoration:none; border:none; padding:0; margin:0;}
a:hover{ color:#cccccc;}
img{ border:0; margin:0; padding:0;}
ul,li{ list-style:none; border:0; margin:0; padding:0;}
.clear{ clear:both;}

h1{ position:absolute; color:#fff; margin:50px; font-size:50px;}